<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>InPower Inc.</h1>
          <span class="subheading">This is what we do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>About us</h1>
      <p>
        InPower Inc. is a self-defense and confidence building initiative for women, by women. The
        skills learned in these courses will equip you with confidence, physical awareness in a variety
        of situations, and connect you to a community of like-minded women.
      </p>

      <br>

      <h1>Our Goals</h1>
      <li>
        Skills for defense – rather than choreography, focus on a reaction-based system and knowing your body
      </li>
      <li>
        To realise the innate strength every human body has – to show you are not made of glass
      </li>
      <li>
        Fitness
      </li>
      <li>
        Walk out of the class with a sense of confidence
      </li>
      <li>
        To create a sustainable business model through the program
      </li>
      <li>
        Create a community of encouraging and supportive women for women
      </li>
    </div>
  </div>
</div>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>