<header class="masthead" style="background-image: url('assets/about_bg.jpeg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>InPower Strategies</h1>
          <span class="subheading">Helping women stay safe</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <a>
        <img class="img-fluid" src="assets/judo-logo.jpg" alt="">
      </a>
      <span class="caption text-muted">
        Sponsored by Judo NSW
      </span>

      <h1>About us</h1>
      <p>
        InPower Strategies is a self-defence and confidence building initiative for women, by women.
        The skills learned in these courses will equip you with confidence, physical awareness in a variety of situations, and connect you to a community of like-minded women.
      </p>
      <p>
        We've pulled and synthesised from a wide range of martial arts and have also incorporated psychology and law to bring a holistic approach to the problem of misogyny & violence against women.
        We understand that this is a multi-faceted and deeply complex problem.
      </p>
      <p>
        As a result, our aim is to provide physical self-defence basics while also providing awareness, tips, and references to resources to help psychologically, legally and emotionally.
        At a broader level, we endeavour to foster a community of women who can share their skills and support one another through the shared activity of taking an InPower Strategies course!
      </p>
      <br>

      <h1>Our Goals</h1>
      <ul>
        <li>
          Skills to help <i>keep yourself safe</i> – focusing on a reaction-based system and knowing your body.
        </li>
        <li>
          To realise the <i>innate strength</i> within you
        </li>
        <li>
          Walk out of the class with a sense of <i>confidence</i>
        </li>
        <li>
          Fostering a <i>community</i> of encouraging and supportive women <i>for</i> women
        </li>
        <li>
          Knowledge and access to <i>resources</i> to help with the symptoms and repercussions of violence against women
        </li>
      </ul>
      <br>

      <h1>The Founders</h1>
      <br>

      <h5>Josie Choy</h5>
      <p>
        Josie completed her Bachelor of Commerce in Human Resources and is currently pursuing her Bachelor of Science in Psychology on the way to becoming a registered psychologist!
      </p>
      <p>
        Josie has been doing Judo for over 7 years and is an accredited Judo Coach. Josie is also an avid swimmer, tennis player, and pianist!
      </p>

      <h5>Maricarmen Wacher</h5>
      <p>
        Maricarmen completed her Bachelor of Science in Psychology, is currently a Juris Doctor candidate (postgraduate law degree) and is also an accredited Judo Coach.
      </p>
      <p>
        Maricarmen has been doing Judo for almost 3 years, did Muay Thai & Boxing for over 2 years, and Krav Maga for a year. Maricarmen's mother taught Judo Self-Defence classes at Stanford University during law school – so it is most fitting that the tradition continues!
      </p>
      <br>

      <a>
        <img class="img-fluid" src="assets/founders.jpeg" alt="">
      </a>
      <span class="caption text-muted">
        The founders and coaches; Josie and Maricarmen!
      </span>

    </div>
  </div>
</div>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/helpingwomenstaysafe/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>