<header class="masthead" style="background-image: url('assets/test.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>InPower Strategies</h1>
          <span class="subheading">Helping women stay safe</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <h1>About us</h1>
      <p>
        InPower Strategies is a self-defense and confidence building initiative for women, by women. The
        skills learned in these courses will equip you with confidence, physical awareness in a variety
        of situations, and connect you to a community of like-minded women.
      </p>

      <br>

      <h1>Our Goals</h1>
      <ul>
        <li>
          Skills for defense – focusing on a reaction-based system and knowing <i>your</i> body
        </li>
        <li>
          To realise the innate strength <i>within</i> you
        </li>
        <li>
          Walk out of the class with a sense of <i>confidence</i>
        </li>
        <li>
          Fostering a community of encouraging and supportive women <i>for</i> women
        </li>
      </ul>
      <br>

      <a>
        <img class="img-fluid" src="assets/founders.jpeg" alt="">
      </a>
      <span class="caption text-muted">
        The founders and coaches: Josie and Maricarmen!
      </span>
    </div>
  </div>
</div>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/InPower-Strategies-356291128548069/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>