<header class="masthead" style="background-image: url('assets/our_program.jpeg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Our Program</h1>
          <h2 class="subheading">Build your confidence</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <blockquote class="blockquote">More details coming soon!</blockquote>
        <br>
        <a>
            <img class="img-fluid" src="assets/in_action.jpg" alt="">
          </a>
          <span class="caption text-muted">
            Our program in action!
          </span>

      </div>
    </div>
  </div>
</article>
<br>