<header class="masthead" style="background-image: url('assets/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Our Program</h1>
          <h2 class="subheading">Build your confidence</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <blockquote class="blockquote">Coming soon!</blockquote>

      </div>
    </div>
  </div>
</article>
<br>