<header class="masthead" style="background-image: url('assets/in_action.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Our Program</h1>
          <h2 class="subheading">Build your confidence</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <h1>Course Events</h1>
        <p>
          We post our course events on our <a href="https://www.facebook.com/helpingwomenstaysafe/" target="_blank">Facebook page</a> so head over there and check them out!
        </p>
        <ul>
          <li>
            <a href="https://www.facebook.com/events/308608973183502/" target="_blank">16/03/19 - Free Women's Stay Safe Course I</a>
          </li>
          <li>
            <a href="https://www.facebook.com/events/650584042038384/" target="_blank">13/04/19 - Free Women's Stay Safe Course II</a>
          </li>
          <li>
            <i>More coming!</i>
          </li>
        </ul>
        <br>

        <h1>The Program</h1>
        <p>
          We know that there are a lot of options when it comes to self-defence courses. Here's a little bit about what you'll learn from ours.
        </p>


        <h4>What we're focusing on</h4>
        <p>
          The Stay Safe Course covers 4 critical areas.
        </p>

        <h6>Falling</h6>
        <p>
          This may seem like an odd one, but learning how to fall safely is a skill that is applicable to a range of situations, throughout your lifetime!
        </p>
        <h6>Striking</h6>
        <p>
            While striking does encompass what you might imagine, well strikes! We also show you how it can help with making space and maintaining your personal space (catchy mnemonics included!).
        </p>
        <h6>Blocking</h6>
        <p>
          In this segment we cover knowing where the more vulnerable areas are on your body and how to try to best protect them – from standing and on the ground.
        </p>
        <h6>Throwing</h6>
        <p>
          Our personal favourite, learning a few basic throws is helpful not just as a tool in your toolbox, but also offers alternative ways of dealing with a situation and helps introduce higher levels of physical contact in a more comfortable, fun way.
        </p>

        <h4>Extras</h4>
        <p>
          We'll also provide some situational examples of when these could be applied during the course.
        </p>
        <p>
          Stick around after to come and grab some coffee at the local café with us!
        </p>
        <br>

        <a>
          <img class="img-fluid" src="assets/in_action.jpg" alt="">
        </a>
        <span class="caption text-muted">
          Our program in action!
        </span>

      </div>
    </div>
  </div>
</article>
<br>