<header class="masthead" style="background-image: url('assets/in_action.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Resources</h1>
          <h2 class="subheading">Useful links and resources</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <h1>Our hand-picked resources</h1>
      <p>
        We understand that staying safe is an ongoing and multifaceted endeavour.
        That's why we've provided some links and resources to other organisations and information that may be useful!
      </p>
      <p>
        We are continuously trying to update this page as we become more aware of the assistance that is out there.
        You are not alone and we hope that some of these resources might help.
      </p>
      <br>

      <h3>Aboriginal Women's Legal Centre</h3>
      <blockquote>
        "Wirringa Baiya is a state-wide community legal centre for Aboriginal women, children and youth. Wirringa Baiya
        focuses on issues relating to violence...
        <br><br>
        Our service is free and confidential." - <a href="http://www.wirringabaiya.org.au" target="_blank">Wirringa Baiya</a>
      </blockquote>
      <br>

      <h3> Women's Legal Service NSW</h3>
      <blockquote>
        "Women's Legal Service NSW is a community legal centre that provides free legal services to women across NSW,
        particularly for those who are socially and economically disadvantaged.
        <br><br>
        We specialise in family law, domestic
        violence and apprehended violence orders (AVOs), sexual assault, employment and discrimination." -
        <a href="http://www.wlsa.org.au/members/nsw" target="_blank">WLSA</a>
      </blockquote>
      <br>

      <h3>Domestic Violence Line</h3>
      <blockquote>
        "The Domestic Violence Line is a NSW statewide telephone crisis counselling and referral service for women and
        persons who identify as female.
        <br><br>
        Counsellors on the Domestic Violence Line can help you:
        <ul>
          <li>talk to the police and get legal help</li>
          <li>get hospital care and family support services</li>
          <li>obtain an Apprehended Violence Order (AVO)</li>
          <li>develop a safety plan for you and your children</li>
          <li>find emergency accommodation for you and your children"</li>
        </ul> -
        <a href="https://www.facs.nsw.gov.au/domestic-violence/helpline" target="_blank">NSW Domestic Violence Line</a>
      </blockquote>
      <br>

      <h3>Approved and Free Counselling Scheme</h3>
      <blockquote>
        "Free counselling is available to primary, family and secondary victims of an act of violence.
        <br><br>
        An initial 22 hours is available to primary, secondary victims and family victims and relevant family members." -
        <a href="https://www.victimsservices.justice.nsw.gov.au/Pages/vss/vs_counselling/vs_counselling-acs-about.aspx" target="_blank">NSW Justice - Counselling</a>
      </blockquote>
      <br>

    </div>
  </div>
</div>
