<header class="masthead" style="background-image: url('assets/joining_us.jpeg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Joining Us!</h1>
          <h2 class="subheading">We have two free courses in March!</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Limited time</h1>
        <p>
          We have a couple of <b>free</b> courses over the next couple of months so keep an eye out <a [routerLink]="['../course']">on the upcoming courses page</a>!
        </p>
        <br>

        <h1>Costs per session</h1>
        <ul>
          <li>Students: $20</li>
          <li>Adults: $30</li>
        </ul>
        <p>
          <b><i>Bring a friend and get a session free!</i></b>
        </p>

        <br>

        <h1>Ready to join?</h1>
        <p>
          Check out <a href="https://www.facebook.com/helpingwomenstaysafe/" target="_blank">Facebook page</a> and join our
          join  <a href="https://www.facebook.com/groups/inpowerstrategies/" target="_blank">group</a> while you're at it!
        </p>

        <br>

      </div>
    </div>
  </div>
</article>
<br>