<header class="masthead" style="background-image: url('assets/joining_us.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Joining Us!</h1>
                    <h2 class="subheading">We're excited for you to join us!</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <h1>What's on</h1>
                <p>
                    We post our course events on our <a href="https://www.facebook.com/helpingwomenstaysafe/" target="_blank">Facebook page</a> so head over there and check them out!
                </p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/events/308608973183502/" target="_blank">16/03/19 - Free Women's Stay Safe Course I</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/events/650584042038384/" target="_blank">13/04/19 - Free Women's Stay Safe Course II</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/events/342742579725244/" target="_blank">22/06/19 - Women's Stay Safe Course</a> - get your tickets
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfE6qNzzbnYctEbUG12_w_r-0DuyLXfsCUyG7Y6jNHCogh9Bg/viewform?vc=0&c=0&w=1" target="_blank">here</a>!
                        <li>
                            <i>More coming!</i>
                        </li>
                </ul>
                <br>

                <h1>Costs per session</h1>
                <p>Although we'd love to keep our courses free, we do need to cover costs for hiring facilities etc. Please help us out!</p>
                <ul>
                    <li>Students: $30</li>
                    <li>Adults: $35</li>
                </ul>
                <br>

                <h1>Ready to join?</h1>
                <p>
                    Check out <a href="https://www.facebook.com/helpingwomenstaysafe/" target="_blank">Facebook page</a> and join our join <a href="https://www.facebook.com/groups/inpowerstrategies/" target="_blank">group</a> while you're at it!
                </p>
                <br>

            </div>
        </div>
    </div>
</article>
<br>