<header class="masthead" style="background-image: url('assets/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Joining Us!</h1>
          <h2 class="subheading">We have two free courses in March!</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Limited time</h2>
        <p>
          We have two <b>free</b> courses running in March and you get a <i>free</i> t-shirt!
        </p>
        <ol>
          <li>Saturday 16<sup>th</sup> March: 10am-12pm</li>
          <li>Tuesday 19<sup>th</sup> March: - 6.30pm-8.30pm</li>
        </ol>
        <p>
          <b>Where</b>: Sam Cracknel, UNSW, Kensington 2033 - <a href="https://goo.gl/maps/T3nEmGeMSPp">Google Maps</a>
        </p>

        <br>

        <h2>Costs per session</h2>
        <ul>
          <li>Students: $20</li>
          <li>Adults: $30</li>
        </ul>
        <p>
          <b><i>Bring a friend and get a session free!</i></b>
        </p>

        <br>

        <h2>Ready to join?</h2>
        <p>
          Join the <a href="https://www.facebook.com/groups/604583363301251/" target="_blank">Facebook group</a> and
          introduce yourself!
        </p>

        <br>

      </div>
    </div>
  </div>
</article>
<br>